.cell {
  width: 90px;
  height: 90px;
  margin: 2px;
  border-radius: 30px;
  border: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-gray {
  background-color: gray;
}